.img-event {
    margin-right: 50px;
    margin-left: 50px;
    max-width: 100%;
    height: auto;   
}

h5 {
    margin-top: -5px;
}

.bell-img{
    margin-right: 50px;
    margin-left: 50px;
}
ion-icon {
    padding-right: 10px;
    padding-top: 5px;
    padding-left: 5px;
}

ion-label {
    float: right;
    margin-top: 5px;
}

.desc-event{
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 10px;
    text-align: center;
    color: gray;
}