.item{
    width: 300px;
    border-radius: 20px;
    margin-left: 13%;
    margin-top: 5%;
}

.button{
    width: 100px;
    margin-left: 35%;
    margin-top: 5%;
}

.title{
    margin-top: 50%;
    margin-bottom: 10%;
    margin-left: 33%;
}