<ion-content>
  <form [formGroup]="edit">

    <ion-item no-padding class="animated fadeInUp" class="image">
      <ion-img position="floating" src="../../../assets/images/user.png" *ngIf="imagen" ></ion-img>
      <ion-img position="floating" src="../../../assets/images/user2.png" *ngIf="imagen2" ></ion-img>
      <ion-img position="floating" src="../../../assets/images/nouser.png" *ngIf="imagenNoUser" ></ion-img>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button class="leftButton" color="tertiary" shape="round" expand="full" (click)="doCambioImagen()">Cambiar imagen</ion-button>
      </ion-col>
      <ion-col>
        <ion-button class="rightButton" color="tertiary" shape="round" expand="full" (click)="doEliminarImagen()">Eliminar imagen</ion-button>
      </ion-col>
    </ion-row>

    <ion-item no-padding class="animated fadeInUp" class="item">
      <ion-label position="floating" color="tertiary" >
        Nombre
      </ion-label>
      <ion-input value="DonJC"></ion-input>
    </ion-item>

    <ion-item  no-padding class="animated fadeInUp" class="item">
      <ion-label position="floating" color="tertiary" >
        Lema
      </ion-label>
      <ion-input value="Todos podemos convertirnos en héroes."></ion-input>
    </ion-item>


    <ion-item no-padding class="animated fadeInUp" class="item">
      <ion-label position="floating" color="tertiary">
        Fecha de nacimieto
      </ion-label>
      <ion-datetime displayFormat="DD MM YYYY" placeholder="Fecha de nacimiento" position="floating" value="09 23 1998"></ion-datetime>
      <ion-input ></ion-input>
    </ion-item>

    <ion-item no-padding class="animated fadeInUp" class="item">
      <ion-label position="floating" color="tertiary">
        Género
      </ion-label>
      <ion-select position="floating" placeholder="Genero" value="Masculino">
        <ion-select-option>Masculino</ion-select-option>
        <ion-select-option>Femenino</ion-select-option>
        <ion-select-option>Otro</ion-select-option>
      </ion-select>
      <ion-input color="secondary" ></ion-input>
    </ion-item>

    <ion-item no-padding class="animated fadeInUp" class="item">
      <ion-label position="floating" color="tertiary" >
        Idioma de preferencia
      </ion-label>
      <ion-select position="floating" placeholder="Idioma" value="Español">
        <ion-select-option>Español</ion-select-option>
        <ion-select-option>Inglés</ion-select-option>
        <ion-select-option>Italiano</ion-select-option>
      </ion-select>
      <ion-input color="secondary"></ion-input>
    </ion-item>


    <div>
      <ion-button icon-left size="medium" color="tertiary" expand="full" shape="round" (click)="doEdit()" tappable>
        <ion-icon name="log-in"></ion-icon>
        Confirmar
      </ion-button>
    </div>
  </form>
</ion-content>

