<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>tAPPuntah</ion-title>
    <ion-thumbnail slot="start">
      <img src="../../assets/images/user.png" class="profile">
    </ion-thumbnail>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-button color="tertiary" href="/tAPPuntah/perfil" fill="solid" >
      <ion-icon item-right name="return-down-back-outline">
      </ion-icon>
    </ion-button>
    
    <ion-img style="width: 250px; height: 250px; margin-left: auto;
    margin-right: auto;" src="../../assets/images/disney.png"></ion-img>
  <div style="text-align:center;">
    <ion-button style="margin-left: auto; margin-right: auto;" color="tertiary">Añadir</ion-button>
  </div>
    <ion-item>
          <ion-label position="floating">Evento: </ion-label>
          <br>
          <ion-input type="text"  name="nuevoTitulo">DisneyLand Paris</ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Descripción: </ion-label>
          <br>
          <ion-input type="text" name="nuevaDescripcion">Queríamos ir un grupo de 20 personas a este parque</ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Fecha Evento: </ion-label>
          <br>
          <ion-input type="text" name="nuevaFecha">4/4/2021</ion-input>
        </ion-item>

     
        <div style="text-align:center;">
            <ion-button  (click)="crearEvento()" size="large" color="tertiary">Añadir
              </ion-button>            
      
            </div>
  </div>
</ion-content>