<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>tAPPuntah</ion-title>
    <ion-thumbnail slot="start">
      <img src="../../assets/images/user.png" class="profile">
    </ion-thumbnail>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-list>
    <ion-item *ngFor="let item of events">
      <ion-thumbnail slot="start">
        <img src="../../assets/images/{{ item.image }}">
      </ion-thumbnail>
      <ion-label>
        <h2>{{ item.title }}</h2>
        <p><strong>{{ item.dateEvent }}</strong></p>
        <p>{{ item.description }}</p>
        <p style="font-size: x-small;">{{ item.datePublic }}</p>
      </ion-label>
      <div class="buttonsItem">
        <ion-button *ngIf="!posts[0]" fill="outline" slot="end" color="warning" (click)="doFollow(0)"><ion-icon name="star-outline"></ion-icon></ion-button>
        <ion-button *ngIf="posts[0]" slot="end" color="warning" (click)="doUnfollow(0)"><ion-icon name="star-outline"></ion-icon></ion-button>
        <ion-button fill="outline" slot="end" color="primary"><ion-icon name="chatbubble-outline"></ion-icon></ion-button>
        <ion-button (click)="showEvent(item)" fill="outline" slot="end" color="medium"><ion-icon name="information-circle-outline"></ion-icon></ion-button>
      </div>
    </ion-item>
</ion-list>
</ion-content> -->
