ion-title {
    text-align: center;
    font-size: x-large;
}

img {
    border-radius: 50%;
}

.profile {
    background-color: #fff; 
    margin-left: 15px;
}

ion-item {
    margin-top: 10px;
}

.buttonsItem {
    width: 18%;
    padding: 5px;
}

