<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Galeria</ion-title>
    <ion-thumbnail slot="start">
      <img src="../../assets/images/user.png" class="profile">
    </ion-thumbnail>
  </ion-toolbar>
</ion-header>


<ion-content fullscreen>
  <div class="ion-padding">
       
       
        <ion-img style="width: 500px; height: 500px; margin-left: auto;
        margin-right: auto;" src="../../assets/images/rock.png"></ion-img>



      <div style="text-align:center;">
        <ion-button icon-left size="large" color="tertiary"
        (click)="doLogin()" >
        Seleccionar imagen como foto de evento 
        </ion-button>
      </div>
      
  </div>
</ion-content>